<!-- ======= Sidebar ======= -->

<aside class="sidebar " id="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" routerLink="/home">
                <i class="fa fa-house-chimney"></i>
                <span >Inicio</span>
            </a>
        </li>
        <li class="nav-heading">General</li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/home/userretired">
                <i class="fa fa-user-times"></i>
                <span>User Retired</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/home/usertablet">
                <i class="fa fa-tablet-alt"></i>
                <span>User Tabled</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/home/tablednew">
                <i class="fa fa-tablet-alt"></i>
                <span>User Tablet New</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/home/tabletretired">
                <i class="fa fa-tablet-alt"></i>
                <span>User Tablet Retired</span>
            </a>
        </li>

    </ul>

</aside>
<!-- End Sidebar-->