<!-- ======= Sidebar ======= -->

<aside class="sidebar " id="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" routerLink="/home">
                <i class="bi bi-house-door"></i>
                <span>Inicio</span>
            </a>
        </li>
        <li class="nav-heading">Navegacion</li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/UserRetired">
                <i class="bi bi-caret-right"></i>
                <span>User Retired</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/UserTabled">
                <i class="bi bi-caret-right"></i>
                <span>User Tabled</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/UserTabletNew">
                <i class="bi bi-caret-right"></i>
                <span>User Tablet New</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/UserTabletRetired">
                <i class="bi bi-caret-right"></i>
                <span>User Tablet Retired</span>
            </a>
        </li>

    </ul>

</aside>
<!-- End Sidebar-->