<!-- Modal Register-->
<div class="modal d-block py-5" id="modalRegister">
    <div class="modal-dialog animate" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-body p-4 pt-0">
                <p class="text-center h1 fw-bold  mx-1 mx-md-4 mt-4">Registrar</p>
                <hr>
                <!-- Fomulario -->
                <form class="form" [formGroup]="Registerform" (ngSubmit)="onSubmit()">

                    <!-- Input User -->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="username" placeholder="username"
                            formControlName="username" value="eflorez"
                            [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                        <label class="form-label">Usuario</label>
                        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                            <div *ngIf="f['username'].errors">El nombre Usuario es requerido*</div>
                        </div>
                    </div>

                    <!-- IP -->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="IP" placeholder="IP" value="" disabled />
                        <label class="form-label">IP</label>
                    </div>

                    <!-- Input password -->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="password" id="password" placeholder="password"
                            formControlName="password" value="123456789"
                            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                        <label class="form-label">Contraseña</label>
                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']">La Contraseña es requerida*</div>
                            <div *ngIf="f['password'].errors['minlength']">La Contraseña debe tener al menos 6
                                characters</div>
                        </div>

                    </div>
                    <hr>
                    <!-- Botn -->
                    <div class="d-grid mb-1">
                        <button class="mb-3" type="submit">Registrar</button>
                    </div>
                </form>

               

                    <!-- Back to login -->
                    <a class=" d-flex justify-content-center btn btn-lg" [routerLink]="'/login'"><i
                            class="bi bi-caret-left me-1"></i>Regresar al Login</a>
               

            </div>

        </div>
    </div>
</div>