<main id="main" class="main">

    <!-- Title Page -->
    <div class="pagetitle">
        <h1>Dashboard</h1>
    </div>
    <!--  -->
    <section class="section dashboard">
        <div class="row">
            <!--  -->
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-innerBody d-flex align-items-center">
                            <div class="card-icon text-light"><i aria-hidden="true" class="fas fa-dollar-sign"></i>
                            </div>
                            <div class="ml-auto">
                                <p class="card-label text-right text-muted">#</p>
                                <h4 class="card-text text-right ">#</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex "><small class="text-muted">#</small><small
                            class="text-success ml-auto"><i aria-hidden="true" class="fa fa-caret-up"></i> # </small>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-innerBody d-flex align-items-center">
                            <div class="card-icon text-light"><i aria-hidden="true" class="fas fa-dollar-sign"></i>
                            </div>
                            <div class="ml-auto">
                                <p class="card-label text-right text-muted">Content</p>
                                <h4 class="card-text text-right ">Content</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex "><small class="text-muted">Content</small><small
                            class="text-success ml-auto"><i aria-hidden="true" class="fa fa-caret-up"></i> Content
                        </small>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title"># <span>| #</span></h5>
                        <div class="d-flex align-items-center">

                            <div class="ps-3">
                                <h6>#</h6>
                                <span class="text-success small pt-1 fw-bold">#</span> <span
                                    class="text-muted small pt-2 ps-1">#</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title"># <span>| #</span></h5>
                        <div class="d-flex align-items-center">

                            <div class="ps-3">
                                <h6>#</h6>
                                <span class="text-success small pt-1 fw-bold">#</span> <span
                                    class="text-muted small pt-2 ps-1">#</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
        <!--  -->
        <div class="row">
            <!--  -->
            <div class="col col-md-6 col-lg-4 mb-4">
                <div class="card text-bg-secondary mb-3" >
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col col-md-6 col-lg-4 mb-4">
                <div class="card text-bg-secondary mb-3" >
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col col-md-6 col-lg-4 mb-4">
                <div class="card text-bg-secondary mb-3">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!--  -->
            <div class="col-xxl-4 col-md-6">

                <div class="card text-bg-secondary mb-3" >
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's content.</p>
                    </div>
                </div>

            </div>
            <!--  -->
            <div class="col-xxl-4 col-md-6">

                <div class="card text-bg-secondary mb-3">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's content.</p>
                    </div>
                </div>

            </div>
            <!--  -->

        </div>
    </section>
</main>